!!!
%html
  %head
    %title
      =t(:gamebbs)
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    #nav
      
    .uk-container.uk-container-center
      %p#notice= flash[:notice]
      %p#alert= flash[:alert]
      = yield